@if(token && email){

<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="resetPasswordForm" class="form-signin" (ngSubmit)="resetPassword()" autocomplete="off">
                <div class="text-center mb-4">
                    <h1 class="mb-3 font-weight-normal">
                        <span>Change your Password</span>
                    </h1>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" placeholder="Email" class="form-control"> 
                    <label for="email">Email</label> 
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="newPassword" type="password" placeholder="New Password" class="form-control"
                    [class.is-invalid]="(submitted || resetPasswordForm.get('newPassword')?.touched) && resetPasswordForm.get('newPassword')?.errors"> 
                    <label for="newPassword">New Password</label>
                    
                    @if ((submitted || resetPasswordForm.get('newPassword')?.touched) && resetPasswordForm.get('newPassword')?.hasError('required')) {
                        <span class="text-danger">New Password is required</span>
                    }
                    @if ((submitted || resetPasswordForm.get('newPassword')?.touched) && (resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('newPassword')?.hasError('maxlength'))) {
                        <span class="text-danger">New Password must be between 6 and 15 characters long</span>
                    }
                </div>
                @if (errorMessages.length > 0){
                    <div class="from-flotin">
                        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                    </div>
                }

                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit">Change Password</button>
                        </div>
                    </div>
                     <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button" routerLink="/accounts/login">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
}