<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="emailForm" class="form-signin" (ngSubmit)="sendEmail()" autocomplete="off">
                <div class="text-center mb-4">
                    <h1 class="mb-3 font-weight-normal">
                        @if(mode?.includes('resend-email-confirmation-link')){
                            <span>Resend email confirmation link</span>
                        }
                        @if(mode?.includes('forget-username-or-password')){
                            <span>Retrieve your username or password</span>
                        }
                    </h1>
                </div>
                  <div class="form-floating mb-3">
                    <input formControlName="email" type="email" placeholder="Email" class="form-control"
                    [class.is-invalid]="(submitted || emailForm.get('email')?.touched) && emailForm.get('email')?.errors"> 
                    <label for="email">Email</label>
                    
                    @if ((submitted || emailForm.get('email')?.touched) && emailForm.get('email')?.hasError('required')) {
                        <span class="text-danger">Email is required</span>
                    }
                    @if ((submitted || emailForm.get('email')?.touched) && emailForm.get('email')?.hasError('pattern')) {
                        <span class="text-danger">Invalid email address</span>
                    }
                </div>
                @if (errorMessages.length > 0){
                    <div class="from-flotin">
                        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                    </div>
                }

                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit">send</button>
                        </div>
                    </div>
                     <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>