<div class="d-flex justify-content-center align-items-center"> 
    <div class="col-12 col-lg-5"> 
        <main class="form-signin">
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">
                        Let's Get started to Play
                        <span class="text-danger">Game</span>
                    </h3>
                </div>

                <!-- First Name -->
                <div class="form-floating mb-3">
                    <input formControlName="firstName" type="text" placeholder="First Name" class="form-control"
                    [class.is-invalid]="(submitted || registerForm.get('firstName')?.touched) && registerForm.get('firstName')?.errors"> 
                    <label for="firstName">First Name</label>
                    
                    @if ((submitted || registerForm.get('firstName')?.touched) && registerForm.get('firstName')?.hasError('required')) {
                        <span class="text-danger">First Name is required</span>
                    }
                    @if ((submitted || registerForm.get('firstName')?.touched) && (registerForm.get('firstName')?.hasError('minlength') || registerForm.get('firstName')?.hasError('maxlength'))) {
                        <span class="text-danger">First Name must be between 3 and 15 characters long</span>
                    }
                </div>

                <!-- Last Name -->
                <div class="form-floating mb-3">
                    <input formControlName="lastName" type="text" placeholder="Last Name" class="form-control"
                    [class.is-invalid]="(submitted || registerForm.get('lastName')?.touched) && registerForm.get('lastName')?.errors"> 
                    <label for="lastName">Last Name</label>
                    
                    @if ((submitted || registerForm.get('lastName')?.touched) && registerForm.get('lastName')?.hasError('required')) {
                        <span class="text-danger">Last Name is required</span>
                    }
                    @if ((submitted || registerForm.get('lastName')?.touched) && (registerForm.get('lastName')?.hasError('minlength') || registerForm.get('lastName')?.hasError('maxlength'))) {
                        <span class="text-danger">Last Name must be between 3 and 15 characters long</span>
                    }
                </div>

                <!-- Email -->
                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" placeholder="Email" class="form-control"
                    [class.is-invalid]="(submitted || registerForm.get('email')?.touched) && registerForm.get('email')?.errors"> 
                    <label for="email">Email</label>
                    
                    @if ((submitted || registerForm.get('email')?.touched) && registerForm.get('email')?.hasError('required')) {
                        <span class="text-danger">Email is required</span>
                    }
                    @if ((submitted || registerForm.get('email')?.touched) && registerForm.get('email')?.hasError('pattern')) {
                        <span class="text-danger">Invalid email address</span>
                    }
                </div>

                <!-- Password -->
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" placeholder="Password" class="form-control"
                    [class.is-invalid]="(submitted || registerForm.get('password')?.touched) && registerForm.get('password')?.errors"> 
                    <label for="password">Password</label>
                    
                    @if ((submitted || registerForm.get('password')?.touched) && registerForm.get('password')?.hasError('required')) {
                        <span class="text-danger">Password is required</span>
                    }
                    @if ((submitted || registerForm.get('password')?.touched) && (registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength'))) {
                        <span class="text-danger">Password must be between 6 and 15 characters long</span>
                    }
                </div>
                @if (errorMessages.length > 0){
                    <div class="from-flotin">
                        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                    </div>
                }

                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-lg btn-primary" type="submit">Create Account</button>
                </div>
            </form>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-4">
                    <hr/>
                </div>
                <div class="col-4 text-center">
                    Or Sign up using
                </div>
                 <div class="col-4">
                    <hr/>
                </div>
            </div>
            <div class="d-flex justify-content-between my-3">
                <div #googleButton></div>
                <button style="width: 180px;" (click)="registerWithFacebook()" class="btn btn-primary btn-sm">
                    Facebook
                </button>
            </div>
        </main>
    </div>  
</div>
